<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">
            <i class="fa fa-cloud fa-lg"></i> CloudStuff
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li>{$organization->name}</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {echo $user->name}  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/manage"><i class="fa fa-gear fa-fw"></i> Dashboard</a></li>
                <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li class="divider"></li>
                <li><a href="/auth/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            {if($user->admin)}
            <li class="text-center"><small>Admin</small></li>
            <li><a href="/admin"><i class="fa fa-user-secret fa-fw"></i> Admin Dashboard</a></li>
            <li><a href="/manage"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="/admin/search"><i class="fa fa-search fa-fw"></i> Search</a></li>
            <li><a href="/admin/dataAnalysis"><i class="fa fa-area-chart fa-fw"></i> Data Analysis</a></li>
            <li><a href="/manage/organizations"><i class="fa fa-bank fa-fw"></i> Organizations</a></li>
            <li class="text-center"><small>Client</small></li>
            {/if}
            {else}
            <li><a href="/manage"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            {/else}
            <li><a href="/finance/billing"><i class="fa fa-archive fa-fw"></i> Billing</a></li>
            <li><a href="/finance/payments"><i class="fa fa-credit-card-alt fa-fw"></i> Payments</a></li>
            <li><a href="/manage/tickets"><i class="fa fa-tags fa-fw"></i> Tickets</a></li>
        </ul>
    </div>
</nav>