<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-cloud"></i> CloudStuffs</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        {if($user->admin == "1")}
        <li><a href="/admin"><i class="fa fa-user-secret"></i> Admin Panel</a></li>
        {/if}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu alert-dropdown">
                <li><a href="#">Alert Name <span class="label label-default">Alert Badge</span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {$user->name} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/client/profile"><i class="fa fa-fw fa-user"></i> Profile</a></li>
                <li><a href="/client/faqs"><i class="fa fa-fw fa-gear"></i> FAQs</a></li>
                <li class="divider"></li>
                <li><a href="/auth/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a href="/client"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/project/manage"><i class="fa fa-fw fa-folder-open"></i> Projects</a></li>
            <li><a href="/finance/invoices"><i class="fa fa-fw fa-list-alt"></i> Invoices</a></li>
            <li><a href="/finance/payments"><i class="fa fa-fw fa-credit-card"></i> Payments</a></li>
            <li><a href="/project/quotations"><i class="fa fa-fw fa-files-o"></i> Quotations</a></li>
            <li><a href="/support/tickets"><i class="fa fa-fw fa-support"></i> Support Tickets</a></li>
            <li><a href="/support/bugs"><i class="fa fa-fw fa-bug"></i> Report Bugs</a></li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#profile"><i class="fa fa-fw fa-user"></i> Settings <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="profile" class="collapse">
                    <li><a href="/client/team">Users</a></li>
                    <li><a href="/client/company">Company</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>