<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/manage">
            <i class="fa fa-cloud fa-lg"></i> CloudStuff
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bank fa-fw"></i> {echo $organization->name} 
            </a>
            <ul class="dropdown-menu dropdown-user">
            {foreach $mem in $members}
                <li><a href="/auth/switchOrg/{$mem->organization_id}">Organization {$mem->organization_id}</a></li>
            {/foreach}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {echo $user->name}  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/manage/profile"><i class="fa fa-gear fa-fw"></i> Profile</a></li>
                <li class="divider"></li>
                <li><a href="/auth/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li><a href="/manage"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Manage<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/manage/profile">Profile</a></li>
                    <li><a href="/manage/team">Team</a></li>
                    <li><a href="/finance/bills">Bills</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-folder fa-fw"></i> Project<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/project/create">Create</a></li>
                    <li><a href="/project/manage">Manage</a></li>
                    <li><a href="/project/tasks">Tasks</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-ticket fa-fw"></i> Support Ticket<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/support/create">Create</a></li>
                    <li><a href="/support/manage">Manage</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>