<!-- Start Header -->
<div class="header">	
    <div class="header-top">
        <div class="wrap"> 
            <div class="header-top-left">
                <p>Support: +0123456789</p>
            </div>
            <div class="header-top-right">
                <ul>
                    <li><a href"#"><i class="fa fa-comments"></i>Sales Chat</a></li>
                    <li  class="login">
                        <div id="loginContainer">
                            <a href="#" id="loginButton"><span><i class="fa fa-lock"></i>Login</span></a>
                            <div id="loginBox" class="login-form">    
                                <h3>Login into Your Account</h3>            
                                <form id="loginForm">
                                    <span>
                                        <i><img src="{echo CDN}images/user.png" alt="" /></i>
                                        <input type="text" value="yourname@mail.com">
                                    </span>
                                    <span>
                                        <i><img src="{echo CDN}images/lock.png" alt="" /></i>
                                        <input type="password" value=".........">
                                    </span>
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" ><i class="fa fa-sign-in"></i>Sign Up</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div> 
    </div>
    <div class="header-logo-nav">
        <div class="navbar navbar-inverse navbar-static-top nav-bg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo"> <a class="navbar-brand" href="index.html"><img src="{echo CDN}images/logo.png" alt="" /></a></div>
                    <div class="clear"></div>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class=" menu nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#">About</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li><a href="solutions.html">Solutions</a></li>
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Header -->