<!-- TOP NAV -->
<div class="topmenu">
    <div class="row">
        <div class="col-sm-3">
            <ul class="top left">
                <li><i class="fa fa-phone"></i> +91-9958636988</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <ul class="topright">
                <li><i class="fa fa-unlock-alt"></i> <a href="index-video.html#" data-toggle="modal" data-target="#LoginModal">CLIENT AREA</a></li>
                <li><i class="fa fa-commenting-o"></i> <a href="#">LIVE CHAT</a></li>
                <li><i class="fa fa-hand-pointer-o"></i> <a href="affiliates.html">AFFILIATES</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- END OF TOP NAV -->
<!-- HEADER -->
<div class="header">
    <div class="row">
        <div class="col-sm-3">
            <div class="logo navbar-brand">
                <a href="/"><img src="{echo CDN}images/newlogo.png" alt="CloudStuffs Logo" /></a>
            </div>
        </div>
        <div class="col-sm-9">
            <nav id="desktop-menu">
                <ul class="sf-menu" id="navigation">
                    <!--<li class="current"><a href="#">Applications</a>
                        <ul>
                            <li><a href="/project/popular">Popular</a></li>
                            <li><a href="/project/api">API Development</a></li>
                            <li><a href="/project/web">Web App Development</a></li>
                            <li><a href="/project/mobile">Mobile App Development</a></li>
                            <li><a href="/project/all">All Projects</a></li>
                        </ul>
                    </li>-->
                    <li><a href="#">Managed Hosting</a>
                        <ul>
                            <li><a href="/hosting/vps.html">Cloud VPS</a></li>
                            <li><a href="/hosting/features.html">Why US?</a></li>
                            <li><a href="/hosting/cPanel.html">Your cPanel</a></li>
                        </ul>
                    </li>
                    <li><a href="/support.html">Support</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- END OF HEADER -->
