<!-- Start Header -->
<div class="header">	
    <div class="header-top">
        <div class="wrap"> 
            <div class="header-top-left">
                <p>Support: +91-9958636988</p>
            </div>
            <div class="header-top-right">
                <ul>
                    <li><a href="/webmail" target="_blank"><i class="fa fa-envelope"></i>WebMail</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>Sales Chat</a></li>
                    <li  class="login">
                        <div id="loginContainer">
                            <a href="#" id="loginButton"><span><i class="fa fa-lock"></i>Login</span></a>
                            <div id="loginBox" class="login-form">    
                                <h3>Login into Your Account</h3>
                                <form id="loginForm">
                                    <span>
                                        <i><img src="{echo CDN}images/user.png" alt="" /></i>
                                        <input type="text" value="yourname@mail.com">
                                    </span>
                                    <span>
                                        <i><img src="{echo CDN}images/lock.png" alt="" /></i>
                                        <input type="password" value=".........">
                                    </span>
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" ><i class="fa fa-sign-in"></i>Sign Up</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div> 
    </div>
    <div class="header-logo-nav">
        <div class="navbar navbar-inverse navbar-static-top nav-bg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo"> <a class="navbar-brand" href="/"><img src="{echo CDN}images/logo.png" alt="" /></a></div>
                    <div class="clear"></div>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class=" menu nav navbar-nav">
                        <li><a href="/allproducts">All Products</a></li>
                        <li><a href="/hosting">Hosting</a></li>
                        <li><a href="/solutions">Solutions</a></li>
                        <li><a href="/online-marketing">Online Marketing</a></li>
                        <li><a href="/professional-email">Email</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Header -->