<!DOCTYPE HTML>
<html>
    <head>
        <title>CloudStuffs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="{echo CDN}css/style.css" rel="stylesheet" type="text/css" media="all" />
        
        <link href="{echo CDN}css/carousel.css" rel="stylesheet" type="text/css" media="all" />
        <link href="{echo CDN}css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>

        {include /layouts/navigation/standard.html}
        {ayield action}

        <!-- Start Footer -->
        <span class="footer-arrow"></span>
        <div class="footer">	  
            <div class="wrap">	      
                <div class="row">
                    <div class="col-lg-6">
                        <h2>About Open Cloud</h2>
                        <p>Vivamus non elementum enim. Vestibulum fringilla placerat vestibulum. Donec consequat scelerisque lorem, quis laoreet tortor dapibus nec. Duis sodales quis odio quis pretium. Etiam auctor sollicitudin enim. Duis tempus semper sodales. </p>
                        <ul class="links">
                            <li><a href="#">About</a> /</li>
                            <li><a href="#">Term of Services</a> /</li>
                            <li><a href="#">Press</a> /</li>
                            <li><a href="#">Staff</a> /</li>
                            <li><a href="#">News</a></li>
                        </ul> 
                    </div>
                    <div class="col-lg-6">
                        <h2>Products</h2>
                        <div class="products-list">
                            <ul>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Private cloud  </a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>  DEDICATED SERVER    </a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>  Hybrid cloud</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> support </a></li>
                            </ul>
                            <ul>	                         
                                <li><a href="#"><i class="fa fa-chevron-right"></i> dedicated hosting</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> email hosting </a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> solutions</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Knowledge Center</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="subscribe">
                            <form>
                                <input type="text" placeholder="youremail@domain.com" />
                                <input type="submit" value="Subscribe" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy-right">
                    <p><a href="http://www.swiftdeal.org/" target="_blank" class="whitetext"><i class="fa fa-copyright fa-fw"></i> SwiftDeal Online LLP</a></p>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{echo CDN}js/owl.carousel.js" type="text/javascript"></script>
        <script src="{echo CDN}js/main-1.0.js" type="text/javascript"></script>
        
    </body>
</html>