<!-- DOMAIN FEATURES -->
<div class="domain-features-text">
    <div class="row">
        <div class="col-sm-2">
            <img src="{echo CDN}images/logos/apps/vps-cloud.png">
        </div>
        <div class="col-sm-3">
            <h4>ClOUD VPS</h4>
            <h5>Managed Hosting</h5>
        </div>
        <div class="col-sm-7">
            <p>CloudStuff is the number one cloud provider in the INDIA. Whether you need a single machine or a complex load-balanced cluster, our flexible cloud lets you create the Virtual Private Servers (VPSes) and Cloud Storage you need quickly and securely. We are leading the market with our implementation of the revolutionary OpenStack technology and in the area of cloud certification.</p>
        </div>
    </div>
</div>
<div class="domain-features">
    <div class="row">
        <div class="col-sm-6">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon13.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free web builder</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon14.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free e-mail account</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon15.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free DNS management</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="350ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon16.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free URL forwarding</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF DOMAIN FEATURES -->
