<!-- DESCRIPTION -->
<div class="datacenter-descr">
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <h3>ABOUT OUR cPanel</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <p>Courageous economic independence amplify community network harness catalyst beneficiaries, Nelson Mandela promising development developing save lives fight against oppression mobilize. Rural development cornerstone.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <div class="block-grid-sm-2 block-grid-xs-1 datacenter-grid">
                <div class="block-grid-item blue wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
                    <h5>CERTIFICATIONS</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item gray wow fadeInUp" data-wow-duration="500ms" data-wow-delay="150ms">
                    <h5>EXCELLENT POWER</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item pink wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <h5>FIRE SUPPRESSION</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item green wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                    <h5>SUN ENERGIZED</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF DESCRIPTION -->
