<!-- FEATURES -->
<div class="features-server">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">INCLUDED FEATURES AND SERVICES</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <p class="text-center">Cloudstuff Affiliate Network is a platform which enables social media publishers and social influencers to monetize from their resources. Publishers can start driving relevant traffic to other websites, mobile app or video using the Cloudtuff Network Affiliate platform and monetize on a per click basis. </p>
        </div>
    </div>
    <div class="row spacing-75">
        <div class="col-md-2 col-sm-12 rightside">
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="100ms">
                <h4>Network</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="200ms">
                <h4>Support</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>Security</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms"><img src="{echo CDN}images/servers-browser.png" alt="" /></div>
        <div class="col-md-2 col-sm-12">
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                <h4>System Management</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="200ms">
                <h4>Software</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>Developer Tools</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
        </div>
    </div>
</div>
<!-- END OF FEATURES -->
<!-- COMPARISON TABLE -->
<div class="shared-table">
    <div class="difference">
        <div class="row spacing-25">
            <div class="col-md-9 col-sm-12 center-block">
                <h3 class="text-center">THE CloudStuffs DIFFERENCE</h3>
                <div class="newplans_box"></div>
                <p class="text-center">Cooperation social innovation underprivileged opportunity collaborative cities improving quality. Convener, public-private partnerships social movement human-centered design Medecins du Monde advancement honor. </p>
            </div>
        </div>
    </div>
    <div class="row spacing-25">
        <div class="col-md-9 col-sm-12 center-block">
            <div class="block-grid-sm-3 block-grid-xs-1 fully-managed">
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms">
                    <img src="{echo CDN}images/icon7.png" alt="" />
                    <h5>GUARANTEED UPTIME</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="150ms">
                    <img src="{echo CDN}images/icon8.png" alt="" />
                    <h5>HUNDREDS OF APPS</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="200ms">
                    <img src="{echo CDN}images/icon9.png" alt="" />
                    <h5>CLOUDLINUX</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="250ms">
                    <img src="{echo CDN}images/icon10.png" alt="" />
                    <h5>SPAM PROTECTION</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="{echo CDN}images/icon11.png" alt="" />
                    <h5>FTP ACCESS</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="350ms">
                    <img src="{echo CDN}images/icon12.png" alt="" />
                    <h5>PREMIUM BANDWIDTH</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF COMPARISON TABLE -->
<!-- APPS -->
<div class="apps">
    <div class="row">
        <div class="col-md-11 col-sm-12 center-block">
            <div class="block-grid-sm-3 block-grid-xs-1 apps-grid">
                <div class="block-grid-item  wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
                    <h5>Django</h5>
                    <div id="odometer1" class="odometer"></div>
                    <div class="graphicline"><span>HOSTED APPS</span><img src="{echo CDN}images/shared-apps-line.png" alt="" /></div>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item  wow fadeInUp" data-wow-duration="500ms" data-wow-delay="150ms">
                    <h5>WordPress</h5>
                    <div id="odometer2" class="odometer"></div>
                    <div class="graphicline"><span>INSTALLATIONS</span><img src="{echo CDN}images/shared-apps-line2.png" alt="" /></div>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item  wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <h5>Rails</h5>
                    <div id="odometer3" class="odometer"></div>
                    <div class="graphicline"><span>HOSTED APPS</span><img src="{echo CDN}images/shared-apps-line3.png" alt="" /></div>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item  wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                    <h5>Drupal</h5>
                    <div id="odometer4" class="odometer"></div>
                    <div class="graphicline"><span>INSTALLATIONS</span><img src="{echo CDN}images/shared-apps-line4.png" alt="" /></div>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item  wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h5>Python</h5>
                    <div id="odometer5" class="odometer"></div>
                    <div class="graphicline"><span>HOSTED APPS</span><img src="{echo CDN}images/shared-apps-line5.png" alt="" /></div>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item  wow fadeInUp" data-wow-duration="500ms" data-wow-delay="350ms">
                    <h5>Perl</h5>
                    <div id="odometer6" class="odometer"></div>
                    <div class="graphicline"><span>RUNNING SCRIPTS</span><img src="{echo CDN}images/shared-apps-line6.png" alt="" /></div>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF APPS -->