<!-- ORDER SLIDER -->
<div class="pricingbox vps">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Say goodbye to bad experiences. Choose your VPS</h1>
            <div class="vps-prices-container">
                <div id="vps_name_option">
                    <h3><span class="how_much">VPS2</span></h3></div>
                <div class="vps-prices-panel">
                    <div class="block-grid-sm-4 block-grid-xs-2 vps-item-features">
                        <div class="block-grid-item">
                            <div class="centralized">
                                <div id="cpu_option">
                                    <h6>CPU</h6>
                                    <span class="how_much">2 Cores</span>
                                    <span class="how_much">4 Cores</span>
                                    <span class="how_much">6 Cores</span>
                                    <span class="how_much">8 Cores</span>
                                </div>
                            </div>
                        </div>
                        <div class="block-grid-item">
                            <div class="centralized">
                                <div id="memory_option">
                                    <h6>RAM</h6>
                                    <span class="how_much">2 GB</span>
                                    <span class="how_much">4 GB</span>
                                    <span class="how_much">8 GB</span>
                                    <span class="how_much">16 GB</span>
                                </div>
                            </div>
                        </div>
                        <div class="block-grid-item">
                            <div class="centralized">
                                <div id="disk_space_option">
                                    <h6>SSD Disk Space</h6>
                                    <span class="how_much">48 GB SSD</span>
                                    <span class="how_much">96 GB SSD</span>
                                    <span class="how_much">192 GB SSD</span>
                                    <span class="how_much">384 GB SSD</span>
                                </div>
                            </div>
                        </div>
                        <div class="block-grid-item">
                            <div class="centralized">
                                <div id="bandwidth_option">
                                    <h6>Bandwidth</h6>
                                    <span class="how_much">3 TB</span>
                                    <span class="how_much">4 TB</span>
                                    <span class="how_much">8 TB</span>
                                    <span class="how_much">16 TB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center"><a class="mtr-btn button-purple ripple btn-lg order-vps" href="/hosting/quote">Get Quote</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF ORDER SLIDER -->
<!-- VPS FEATURES -->
<div class="vps-features-tabs">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="150ms">GETTING STARTED HAS NEVER BEEN EASIER</h2>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <!-- TABS -->
            <div class="tabbable tabs-left-vertical wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="vps.html#ssd" data-toggle="tab"><i class="fa fa-rocket royalblue"></i>Pure SSD</a></li>
                    <li><a href="vps.html#setup" data-toggle="tab"><i class="fa fa-tasks green"></i>Free Setup</a></li>
                    <li><a href="vps.html#fastestio" data-toggle="tab"><i class="fa fa-plane red"></i>Fastest I/O</a></li>
                    <li><a href="vps.html#uptime" data-toggle="tab"><i class="fa fa-check-square-o lightblue"></i>100% Uptime</a></li>
                    <li><a href="vps.html#support" data-toggle="tab"><i class="fa fa-gratipay orange"></i>24/7 support</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="ssd">
                        <h4>If your website  is slow .. You don't ave a website</h4>
                        <hr class="small" />
                        <div class="tabcircle"><i class="fa fa-rocket royalblue"></i></div>
                        <p class="subtitle">We provide SSD storage for higher Read / Write Speed.</p>
                        <p>You are limited by space or the disk speed. Whatever it is but its bad. That why we have shifted to pure SSD for storing your application and data. </p>
                    </div>
                    <div class="tab-pane fade" id="setup">
                        <h4>Don't care about Setup .. We will do it for you</h4>
                        <hr class="small" />
                        <div class="tabcircle"><i class="fa fa-tasks green"></i></div>
                        <p class="subtitle">We have Server Expert to make your server up and working.</p>
                        <p>Stick to what you do. We will do the rest for you. Never run in the hassle of setting servers and managing them. We have expertise in that and we love doing this. We will setup the server as per as your application requirement. If you have your application hosted any where else we will do all the transfer with guarantee of no loss of data.</p>
                    </div>
                    <div class="tab-pane fade" id="fastestio">
                        <h4>WE PROVIDE YOU WITH THE FASTEST DISK I/O</h4>
                        <hr class="small" />
                        <div class="tabcircle"><i class="fa fa-plane red"></i></div>
                        <p class="subtitle">Isn't your current server responding fast ?</p>
                        <p>We have high speed servers and we hate slow sites. Just shift your application to our servers and see the lightening speed of disk read / write. Editing, modifying will be much easier with SFTP. With the speed we are concerned qabout the security.</p>
                    </div>
                    <div class="tab-pane fade" id="uptime">
                        <h4>100% NODE & NETWORK UPTIME SLA</h4>
                        <hr class="small" />
                        <div class="tabcircle"><i class="fa fa-check-square-o lightblue"></i></div>
                        <p class="subtitle">Does your application does not respond at peak time.</p>
                        <p>If you have high number of users for your application and your current server fails at the peak time then you are at the right place. We gurantee 100% network uptime SLA and payback if we fail<sup>*T&C</sup>. We manage your application to the level it never fails.</p>
                    </div>
                    <div class="tab-pane fade" id="support">
                        <h4>24/7 SUPPORT MANAGED HOSTING</h4>
                        <hr class="small" />
                        <div class="tabcircle"><i class="fa fa-gratipay orange"></i></div>
                        <p class="subtitle">Are you facing problem.</p>
                        <p>We are up 24 Hours. Never care of time zone again. Call us whenever you need help. We support at any hour. We love our work and our customer so much that we don't have Holidays. The moment you need we will be there to help you.</p>
                    </div>
                </div>
            </div>
            <!-- END OF TABS -->
        </div>
    </div>
</div>
<!-- END OF FEATURES -->
<!-- TEXT -->
<div class="vps-text">
    <div class="row">
        <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="200ms">
            <h2>VPS - PREMIUM NETWORK</h2>
            <div class="titleborder pink">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
            </div>
            <p>For tech-savvy Web professionals like you who want a full root-level control hosting service, VPS hosting gives you independence from others on the same server, allowing you to enjoy the control of dedicated Web hosting at a fraction of the cost.</p>
            <ul>
                <li>Experience the benefits of dedicated Web hosting without the hardware or maintenance costs</li>
                <li>Gain the flexibility to install and configure virtually any program you want</li>
                <li>Enjoy the convenience of managing various sites on one server </li>
                <li>Get the power and control to use your space as you see fit </li>
            </ul>
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="{echo CDN}images/vps-img-1.jpg" alt="" />
        </div>
    </div>
</div>
<!-- END OF TEXT -->
<!-- VPS ACCORDION -->
<div class="vps-accordion">
    <div class="row">
        <div class="col-sm-4 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="200ms">
            <h3>QUESTIONS & ANSWERS</h3>
            <div class="titleborder pink">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
            </div>
            <p class="maintext">Proper resources global citizens John Lennon organization courageous progressive incubation reproductive rights cross-cultural. Cross-agency coordination policymakers, social good dialogue innovate.</p>
        </div>
        <div class="col-sm-8">
            <div id="accordion" class="panel-group spacing-40 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="indicator fa fa-minus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="vps.html#collapse1">WHAT IS A VIRTUAL PRIVATE SERVER (VPS)?</a></h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>A virtual private server (VPS) is a virtual machine sold as a service by an Internet hosting service. A VPS runs its own copy of an operating system, and customers have superuser-level access to that operating system instance, so they can install almost any software that runs on that OS.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="vps.html#collapse2">WHO SHOULD USE VPS?</a></h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>It's an ideal upgrade for a shared client to move to a VPS; however, moving from a reseller to a VPS is only recommended if the you need more control of the box.</p>
                            <ul>
                                <li>Office emails - If you have multiple email users working from the same office (same connection IP address), then you will want a VPS. The reason is that shared and reseller plans limit POP and IMAP connections to 30 per hour per connecting IP.</li>
                                <li>Mass emailing - If you advertise through email or have a large contact mailing list, you will want a VPS. The reason is that shared and reseller plans limit each domain name to sending 500 emails per hour.</li>
                                <li>Custom installations - If you want to develop a custom hosting environment, or want to install something which is not compatible with our shared servers, then you will want a VPS. The reason is that shared and reseller plans do not allow you to change the included server hardware and software; we must provide a stable and consistent environment for every one on a shared server, and allowing changes will inevitably affect the other users.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="vps.html#collapse3">HOW DO I UPGRADE MY VPS?</a></h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>You can switch by purchasing the new VPS plan, transferring your files, changing DNS, waiting 4-24 hours for propagation, and finally canceling the old plan.</p>
                            <p>You can just purchase our plans and we will do the res for you Nothing to think about technical issues.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="vps.html#collapse4">HOW MANY VPSs ARE INSTALLED ON ONE SERVER?</a></h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Metrics immunize tackling courageous opportunity safeguards dignity Cesar Chavez peace recognition free-speech measures innovate. Complexity, fellows NGO, livelihoods, initiative. Criteria employment country The Elders, global leaders; care social entrepreneurship; inclusive capitalism gender.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="vps.html#collapse5">WILL DATASERV MIGRATE MY SERVICE?</a></h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Metrics immunize tackling courageous opportunity safeguards dignity Cesar Chavez peace recognition free-speech measures innovate. Complexity, fellows NGO, livelihoods, initiative. Criteria employment country The Elders, global leaders; care social entrepreneurship; inclusive capitalism gender.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF VPS ACCORDION -->
