<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Stats
                            </a>
                            
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-link"></i> Quick Links
                            </a>
                            
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-cloud"></i> CloudStuffs
                            </a>
                            <a href="https://www.youtube.com/channel/UCLc7UxaQmWQoREzxjfNENNg" target="_blank" class="list-group-item"><i class="fa fa-youtube-square fa-2x"></i>  Youtube Channel</a>
                            <a href="https://plus.google.com/+Swiftinternindia" target="_blank" class="list-group-item"><i class="fa fa-google-plus-square fa-2x"></i>  Google+ Page</a>
                            <a href="https://www.facebook.com/swiftintern" target="_blank" class="list-group-item"><i class="fa fa-facebook-square fa-2x"></i>  Facebook Page</a>
                            <a href="https://twitter.com/swiftintern" target="_blank" class="list-group-item"><i class="fa fa-twitter-square fa-2x"></i>  Twitter Account</a>
                            <a href="https://www.linkedin.com/company/swiftintern-com" target="_blank" class="list-group-item"><i class="fa fa-linkedin-square fa-2x"></i>  Linkedin Company Page</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
