<!-- DESCRIPTION -->
<div class="about-descr">
    <div class="row">
        <div class="col-sm-12 col-md-10 center-block">
            <h3>WHAT ARE WE ALL ABOUT?</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
        </div>
    </div>
    <div class="row spacing-25">
        <div class="col-sm-12 col-md-7">
            <img src="{echo CDN}images/about.png" alt="" />
        </div>
        <div class="col-sm-12 col-md-5">
            <p class="topspacing">A unique Managed Software and IT provider for premium users under 1 Lakh alexa rank,  Our efforts and focus are always directed to our clients and their needs</p>
            <p>Gender rights lasting change tackle Cesar Chavez; diversification justice, women and children Jane Jacobs engage immunize peace public service crisis management. Micro-finance dedicated; cross-cultural; eradicate The Elders. Incubation; public sector legal aid breakthrough insights. </p>
        </div>
    </div>
</div>
<!-- END OF DESCRIPTION -->
<!-- ABOUT ICONS -->
<div class="about-icons">
    <div class="row">
        <div class="col-sm-3"><img src="{echo CDN}images/icon17.png" alt="" />
            <p>CHOOSE</p>
        </div>
        <div class="col-sm-3"><img src="{echo CDN}images/icon18.png" alt="" />
            <p>SCALE</p>
        </div>
        <div class="col-sm-3"><img src="{echo CDN}images/icon19.png" alt="" />
            <p>LAUNCH</p>
        </div>
        <div class="col-sm-3"><img src="{echo CDN}images/icon20.png" alt="" />
            <p>USE</p>
        </div>
    </div>
</div>
<!-- END OF ABOUT ICONS -->
<!-- TEAM -->
<div class="about-team">
    <div class="row">
        <div class="col-sm-12">
            <h3>MEET THE CloudStuffs TEAM</h3>
            <div class="newplans_box"></div>
            <p>Courageous economic independence amplify community network harness catalyst beneficiaries, Nelson Mandela promising development developing save lives fight against oppression mobilize. Rural development cornerstone visionary save the world conflict. </p>
        </div>
        <!-- @todo add images-->
        <div class="row">
            <div class="col-sm-12">
                <div class="block-grid-sm-4 block-grid-xs-2 team-grid">
                    <div class="block-grid-item wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
                        <!--<img src="{echo CDN}images/team2.jpg" alt="" />-->
                        <h6>Faizan Ayubi</h6>
                        <p>Founder/CEO</p>
                    </div>
                    <div class="block-grid-item wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
                        <!--<img src="{echo CDN}images/team4.jpg" alt="" />-->
                        <h6>Hemant Mann</h6>
                        <p>Technology Director</p>
                    </div>
                    <div class="block-grid-item wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
                        <!--<img src="{echo CDN}images/team1.jpg" alt="" />-->
                        <h6>Saud Siddiqui</h6>
                        <p>Strategy + Marketing</p>
                    </div>
                    <div class="block-grid-item wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
                        <!--<img src="{echo CDN}images/team3.jpg" alt="" />-->
                        <h6>Meraj Siddiqui</h6>
                        <p>Server Administrator</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF TEAM -->
<!-- TIMELINE -->
<div class="about-timeline">
    <div class="row">
        <div class="col-sm-12">
            <div class="timeline animated">
                <div class="timeline-row">
                    <div class="timeline-time wow fadeInRight" data-wow-duration="500ms" data-wow-delay="100ms">December, 2012</div>
                    <div class="timeline-icon wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="bg-primary"></div>
                    </div>
                    <div class="panel timeline-content wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="panel-body">
                            <h2>THE BIRTH</h2>
                            <p>
                                We thought there are people who wants premium service who are not common and are different from crowd, so we decided to start the company to provide IT service to those who are under 1 Lakh in alexa ranking, so they can manage their buisness and we do their awesome application development and maintenance.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-row">
                    <div class="timeline-time wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms">Jan, 2013</div>
                    <div class="timeline-icon wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="bg-primary"></div>
                    </div>
                    <div class="panel timeline-content wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="panel-body">
                            <h2>New Office at New Delhi, India</h2>
                            <p>
                                With our increasing premium clients, we took a cool place where developers and execs can work together without any managerial role on everyone, we have those people who handles project independently, with weekly execs meeting to share experiences.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-row">
                    <div class="timeline-time wow fadeInRight" data-wow-duration="500ms" data-wow-delay="100ms">March, 2013</div>
                    <div class="timeline-icon wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="bg-primary"></div>
                    </div>
                    <div class="panel timeline-content wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="panel-body">
                            <h2>LAUNCH OF WORDPRESS HOSTING SERVICE</h2>
                            <p>
                                Out of every 10 clients we get 4 are for wordpress or other CMS, so we created SwiftPage Module to increase the speed of any page loading time and caching to all our clients. which reduces their bandwith to 80%(our first achievement)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-row">
                    <div class="timeline-time wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms">August, 2013</div>
                    <div class="timeline-icon wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="bg-primary"></div>
                    </div>
                    <div class="panel timeline-content wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="panel-body">
                            <h2>CLOUD HOSTING INFRASTRUCTURE</h2>
                            <p>
                                To make application scalable and robust we partnered with Server Providers to manually setup our clients Hosting infrastructure and built new Saas application for hosting.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-row">
                    <div class="timeline-time wow fadeInRight" data-wow-duration="500ms" data-wow-delay="100ms">2014</div>
                    <div class="timeline-icon wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="bg-primary"></div>
                    </div>
                    <div class="panel timeline-content wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="panel-body">
                            <h2>Enterprise Application Development</h2>
                            <p>
                                We build around 200+ custom applications for top buisness around globe, with api centric infrastructure which is scalable and more robust.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-row">
                    <div class="timeline-time wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms">September, 2015</div>
                    <div class="timeline-icon wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                        <div class="bg-primary"></div>
                    </div>
                    <div class="panel timeline-content wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="panel-body">
                            <h2>Our New Dubai Office</h2>
                            <p>
                                With increasing software development and IT service manage, we have established our office in Dubai speciall for our middle east and european clients.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF TIMELINE -->
