<!-- FEATURES -->
<div class="features-server">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">Online AdNetwork and DSP</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <p class="text-center">Cloudstuff Affiliate Network is a platform which enables social media publishers and social influencers to monetize from their resources. Publishers can start driving relevant traffic to other websites, mobile app or video using the Cloudtuff Network Affiliate platform and monetize on a per click basis. </p>
        </div>
    </div>
    <div class="row spacing-75">
        <div class="col-md-2 col-sm-12 rightside">
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="100ms">
                <h4>Automated Campaign Optimization</h4>
                <p>Algorithms that are constantly learning and improving based on historical and real-time performance data.</p>
            </div>
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="200ms">
                <h4>Proven Optimization Performance</h4>
                <p>Look to the left to see examples of CPA, CPC and CPM and profit max optimization success stories</p>
            </div>
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>First-Party Data Drives The Results</h4>
                <p>Use past campaign data to train optimization algorithms. Shape optimization based on your unique campaign bidding data.</p>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms"><img src="{echo CDN}images/affiliates.png" alt="" />
        <img src="{echo CDN}images/ad-2.png" alt="" /></div>
        <div class="col-md-2 col-sm-12">
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                <h4>Ad Visibility | Viewability</h4>
                <p>SOrganize targeting based on various visibility-driven indicators and parameters. Leverage our integrations with IAS and MOAT</p>
            </div>
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="200ms">
                <h4>Activate Your Audience Data</h4>
                <p>Gather, manage, analyze and activate your first-party audience data. As well as extend your targeting with third-party audience data sources.</p>
            </div>
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>CRM and Email Retargeting</h4>
                <p>Leverage local CRM-driven audience data to enrich campaign targeting. Ingest first-party data into universal segments. </p>
            </div>
        </div>
    </div>
</div>
<!-- END OF FEATURES -->