<!-- FEATURES -->
<div class="features-server">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">Earn For What You Think</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <p class="text-center">Cloudstuff Affiliate Network is a platform which enables social media publishers and social influencers to monetize from their resources. Publishers can start driving relevant traffic to other websites, mobile app or video using the Cloudtuff Network Affiliate platform and monetize on a per click basis. </p>
        </div>
    </div>
    <div class="row spacing-75">
        <div class="col-md-2 col-sm-12 rightside">
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="100ms">
                <h4>Network</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="200ms">
                <h4>Support</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>RPM</h4>
                <p>It depends on the quality and country from which  traffic is coming which you can see in dashboard</p>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms"><img src="{echo CDN}images/affiliates.png" alt="" /></div>
        <div class="col-md-2 col-sm-12">
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                <h4>System Management</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="200ms">
                <h4>Software</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
            <div class="server-feature wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>Developer Tools</h4>
                <p>Social responsibility prosperity Jane Jacobs impact engage process. </p>
            </div>
        </div>
    </div>
</div>
<!-- END OF FEATURES -->