<div class="main">
    <div class="wrap">
        <div class="features poducts">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa fa-send fa-5x"></i>
                    <h2>Email Marketing Web Application</h2>
                    <p>Run all your email marketing from your application dashboard and get advanced analytics on clicks impressions etc</p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa fa-users fa-5x"></i>
                    <h2>CRM Web Application</h2>
                    <p>Manage recurring campaigns with customizable pipeline for your customers to get successful lead generation and after sales follow up. </p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa fa-newspaper-o fa-5x"></i>
                    <h2>NewsLetter Management</h2>
                    <p>Manage all your company newsletter with advanced scheduling and Content design all at one place completely integrated with your current application.</p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
            
        </div>
    </div>
</div>