<div class="main">
    <div class="wrap">
        <div class="features poducts">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa fa-cloud fa-5x"></i>
                    <h2>Private Cloud</h2>
                    <p>We setup the complete Cloud Buisness Infrastructure for your organization to be secure and private.</p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa fa-server fa-5x"></i>
                    <h2>Dedicated Servers</h2>
                    <p>We Manage the Dedicated Server for your company with on live support on any issue and monitor for any fault.</p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa fa-hourglass-half fa-5x"></i>
                    <h2>Scale Web Application</h2>
                    <p>We Optimize and Scale your application by our Intelligent Modules to be used on your server.</p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
            <div class="row products-row2">
                <div class="col-lg-4">
                    <i class="fa fa-tablet fa-5x"></i>
                    <h2>Application Development</h2>
                    <p>We develop any enterprise web/android/iOS/software base Solutions to be used on large scale.</p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa fa-envelope fa-5x"></i>
                    <h2>Professional Email</h2>
                    <p>We Provide Free Professional Email to our Clients who are both big and Small.</p>
                    <p><a class="read-more" href="/professional-email">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa fa-globe fa-5x"></i>
                    <h2>Free Hosting</h2>
                    <p>We provide free hosting to Startups, Student Projects, Events etc.</p>
                    <p><a class="read-more" href="/hosting">Read More</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
    </div>
</div>