<div class="main">
    <div class="wrap">
        <div class="features poducts">
            <div class="row">
                <div class="col-lg-4">
                    <img src="{echo CDN}images/private-cloud.png" alt="" />
                    <h2>Private Cloud</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus augue vitae est volutpat eleifend. </p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{echo CDN}images/dedicated-servers.png" alt="" />
                    <h2>Dedicated Servers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus augue vitae est volutpat eleifend. </p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{echo CDN}images/hybrid-cloud.png" alt="" />
                    <h2>Hybrid Cloud</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus augue vitae est volutpat eleifend. </p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
            <div class="row products-row2">
                <div class="col-lg-4">
                    <img src="{echo CDN}images/hybrid-cloud.png" alt="" />
                    <h2>Private Cloud</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus augue vitae est volutpat eleifend. </p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{echo CDN}images/private-cloud.png" alt="" />
                    <h2>Dedicated Servers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus augue vitae est volutpat eleifend. </p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{echo CDN}images/dedicated-servers.png" alt="" />
                    <h2>Hybrid Cloud</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus augue vitae est volutpat eleifend. </p>
                    <p><a class="read-more" href="#">Read More</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
    </div>
</div>