<!-- CONTACT FORM -->
<div class="contact-elements">
    <div class="row">
        <div class="col-sm-3">
            <div class="contactmethod darkgray">
                <h5>Sales</h5>
                <p>For any kind of sales asisstance contact Sales Department at</p>
                <p><span>Phone: (+91) 9958636988</span><span><a href="mailto:info@cloudstuff.tech">info@cloudstuff.tech</a></span></p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="contactmethod blue">
                <h5>Chat to us</h5>
                <p>Have a issue with our software or our server chat with us</p>
                <div class="text-center"><a class="mtr-btn button-raised ripple" href="javascript:void(0)">CHAT ONLINE</a></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="contactmethod green">
                <h5>Technical Support</h5>
                <p>For any technical asisstance about hosting, software and website You can contact us</p>
                <p><span><a href="/contact.html">Submit a ticket</a> via Help Desk</span><span>Visit our <a href="contact.html">support page</a></span></p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="contactmethod purple">
                <h5>Headquarters</h5>
                <p><span>406 Sant Nagar</span><span>East of Kailash, New Delhi 110065</span><span>Near Nehru Place Metro Station</span></p>
                <p><span><a href="contact.html">info@cloudstuff.tech</a></span></p>
            </div>
        </div>
    </div>
    <div class="spacing-75"></div>
    <div class="row">
        <div class="col-sm-4">
            <h3>CONTACT CLOUDSTUFF</h3>
            <div class="titleborder pink">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
            </div>
            <h4>Have questions?</h4>
            <p>Do you still got a question to ask. Don't worry we wil sort out your problem just send us the question in mail and we will respond you as soon as possible.</p>
        </div>
        <div class="col-sm-8">
            <h3>GET IN TOUCH</h3>
            <div class="titleborder pink fullwidth">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
            </div>
            <div id="sendstatus"></div>
            <div id="contactform">
                <form method="post" action="" class="material">
                    <p>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" tabindex="1" />
                    </p>
                    <p>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" tabindex="2" />
                    </p>
                     <p>
                        <input type="text" class="form-control" name="phone" id="email" placeholder="Contact No." tabindex="2" />
                    </p>
                    <p>
                        <textarea class="form-control" name="message" id="comments" cols="12" rows="6" placeholder="Message" tabindex="3"></textarea>
                    </p>
                    <p>
                        <input type="submit" name="submit" id="submit" class="mtr-btn button-fab ripple" value="Send" />
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- END OF CONTACT FORM -->
</div>
<!-- Map -->
<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>
<!-- End of Map -->
<script type="text/javascript">
jQuery(function($) {
    // Asynchronously Load the map API
    var script = document.createElement("script");
    script.src = "https://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
});
</script>
