<!-- DESCRIPTION -->
<div class="datacenter-descr">
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <h3>ABOUT OUR cPanel</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <p>We use one of the best cPanel available that is easy to use and much secure. You can manage all of your website fromm your cPanel. Vesta is what you need to consider.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <div class="block-grid-sm-2 block-grid-xs-1 datacenter-grid">
            <img src="{echo CDN}images/vesta.png">
            </div>
        </div>
    </div>
</div>
<!-- END OF DESCRIPTION -->
<!-- DOMAIN FEATURES -->
<div class="domain-features-text">
    <div class="row">
        <div class="col-sm-6">
            <h4>GLOBAL REGISTRY SERVICES</h4>
            <h5>ICANN-ACCREDITED DOMAIN NAME REGISTRAR</h5>
        </div>
        <div class="col-sm-6">
            <p>Kick-starter; peace global health conflict resolution integrity safety. Affordable health care invest committed, civic engagement tackle catalytic effect generosity. Equality, smart cities; future cooperation United Nations medical supplies amplify efficient world problem.</p>
        </div>
    </div>
</div>
<div class="domain-features">
    <div class="row">
        <div class="col-sm-6">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon13.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free web builder</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon14.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free e-mail account</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon15.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free DNS management</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="350ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon16.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free URL forwarding</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF DOMAIN FEATURES -->
