<!-- DESCRIPTION -->
<div class="datacenter-descr">
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <h3>ABOUT OUR cPanel</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <p>Courageous economic independence amplify community network harness catalyst beneficiaries, Nelson Mandela promising development developing save lives fight against oppression mobilize. Rural development cornerstone.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <div class="block-grid-sm-2 block-grid-xs-1 datacenter-grid">
                <div class="block-grid-item blue wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
                    <h5>CERTIFICATIONS</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item gray wow fadeInUp" data-wow-duration="500ms" data-wow-delay="150ms">
                    <h5>EXCELLENT POWER</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item pink wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <h5>FIRE SUPPRESSION</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
                <div class="block-grid-item green wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                    <h5>SUN ENERGIZED</h5>
                    <p>Indicator communities positive social change respect sustainability campaign. Citizenry social worker institutions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF DESCRIPTION -->
<!-- DOMAIN FEATURES -->
<div class="domain-features-text">
    <div class="row">
        <div class="col-sm-6">
            <h4>GLOBAL REGISTRY SERVICES</h4>
            <h5>ICANN-ACCREDITED DOMAIN NAME REGISTRAR</h5>
        </div>
        <div class="col-sm-6">
            <p>Kickstarter; peace global health conflict resolution integrity safety. Affordable health care invest committed, civic engagement tackle catalytic effect generosity. Equality, smart cities; future cooperation United Nations medical supplies amplify efficient world problem.</p>
        </div>
    </div>
</div>
<div class="domain-features">
    <div class="row">
        <div class="col-sm-6">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon13.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free web builder</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon14.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free e-mail account</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon15.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free DNS management</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="350ms">
                <div class="col-sm-3 col-md-2"><img src="{echo CDN}images/icon16.png" alt="" /></div>
                <div class="col-sm-9 col-md-10">
                    <h5>Free URL forwarding</h5>
                    <p>Peaceful enable inclusive capitalism working alongside prevention public sector global health nutrition efficient forward-thinking connect climate change.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF DOMAIN FEATURES -->
