<!-- DESCRIPTION -->
<div class="datacenter-descr">
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <h3>ABOUT OUR cPanel</h3>
            <div class="titleborder centered">
                <div class="titleborder_left"></div>
                <div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>
            </div>
            <p>We use one of the best cPanel available that is easy to use and much secure. You can manage all of your website fromm your cPanel. Vesta is what you need to consider.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 center-block">
            <div class="block-grid-sm-2 block-grid-xs-1 datacenter-grid">
            <img src="{echo CDN}images/vesta.png">
            </div>
        </div>
    </div>
</div>
<!-- END OF DESCRIPTION -->
<div class="domain-features">
    <div class="row">
        <h4 class="text-center">Some Important Features</h4>
            <hr class="hr-awesome"/>
        <div class="col-sm-3">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="col-sm-9 col-md-10">
                    <h5>Web Server</h5>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="col-sm-9 col-md-10">
                    <h5>DNS Server</h5>
                </div>
            </div>
        </div>
       <div class="col-sm-3">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="col-sm-9 col-md-10">
                    <h5>Database Server</h5>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="col-sm-9 col-md-10">
                    <h5>Mail Server</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="col-sm-9 col-md-10">
                    <h5>FTP Server</h5>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="col-sm-9 col-md-10">
                    <h5>System Monitoring</h5>
                </div>
            </div>
        </div>
       <div class="col-sm-3">
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="col-sm-9 col-md-10">
                    <h5>AntiSpam / Antivirus</h5>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="col-sm-9 col-md-10">
                    <h5>Autoupdates</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF DOMAIN FEATURES -->

