<!-- COMPARISON TABLE -->
<div class="shared-table">
    <div class="difference">
        <div class="row spacing-25">
            <div class="col-md-9 col-sm-12 center-block">
                <h3 class="text-center">THE CloudStuff DIFFERENCE</h3>
                <div class="newplans_box"></div>
                <p class="text-center">We give our Clients a Personal Touch on their Applications.</p>
            </div>
        </div>
    </div>
    <div class="row spacing-25">
        <div class="col-md-9 col-sm-12 center-block">
            <div class="block-grid-sm-3 block-grid-xs-1 fully-managed">
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms">
                    <img src="{echo CDN}images/icon7.png" alt="" />
                    <h5>GUARANTEED UPTIME</h5>
                    <p>We guarantee 99.9% Uptime of your server and the remaining 0.1% is down only for maintenance. Never let your user see a slow or not loading website.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="150ms">
                    <img src="{echo CDN}images/icon8.png" alt="" />
                    <h5>HUNDREDS OF APPS</h5>
                    <p>You can host hundreds of apps in whatever language it is built. We support all of them and for any assistance you can contact us.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="200ms">
                    <img src="{echo CDN}images/icon9.png" alt="" />
                    <h5>CLOUDLINUX</h5>
                    <p>Linux OS is what the most preferred OS for server. Its fast safe and secure. Don't worry if you don't know Linux we are for that.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="250ms">
                    <img src="{echo CDN}images/icon10.png" alt="" />
                    <h5>SPAM PROTECTION</h5>
                    <p>Protection from Spam , malware and viruses are in top of our priority list. We automatically detect them and delete and make you and your application safe.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="{echo CDN}images/icon11.png" alt="" />
                    <h5>SFTP ACCESS</h5>
                    <p>Instead of FTP we only use SFTP. If you are developing your application or someone else and you want to mange the access of those users.We provide it.</p>
                </div>
                <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="350ms">
                    <img src="{echo CDN}images/icon12.png" alt="" />
                    <h5>PREMIUM BANDWIDTH</h5>
                    <p>Because of our premium bandwidth your website never goes down and  not load slowly. Make your user accessibility ultrafast to highlight your business.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF COMPARISON TABLE -->