<div class="main">	 
    <div class="wrap">
        <div class="col-lg-12">
            <div class="about-desc">
                <h2>Managed Hosting</h2>
                <p>Our web hosting solutions and infrastructure power over 5 billion page views each year. You can put that expertise to work in your solution, whether it's a scalable platform to spin up sites quickly or a completely custom architecture to support massive traffic or strict compliance requirements. And as always, everything we do is backed by 24x7x365 Fanatical Support.</p>
                <p>Don’t lose sleep over traffic spikes. Take advantage of our powerful infrastructure and lightening-fast CDN to help ensure fast page loads, even through planned events and unexpected surges.</p>
                <p>Our website hosting services allow your website to scale, so you can scale your business. Whether you’re planning for hyper growth or already experiencing it, we can help ensure you’re ready for success.</p>
                <p>We make it easy to manage your or your clients’ websites with 5-minute deployments of popular WCM platforms, automated security patching, a unified technical control panel, and usage dashboard domains.</p>
            </div>
        </div> 	   
        <div class="list-performance">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Technology</h2>
                    <ul>
                        <li><i class="fa fa-check"></i>Apache2 for PHP</li>
                        <li><i class="fa fa-check"></i>Node.js</li>
                        <li><i class="fa fa-check"></i>Python</li>
                        <li><i class="fa fa-check"></i>Scala</li>
                        <li><i class="fa fa-check"></i>JAVA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>