<!-- Video -->
<div id="home-intro">
    <div class="home-intro-container">
        <div class="introcaption">
            <h2>Managed IT solutions for <span id="js-rotating">Businesses, Developers, Enterprises</span></h2>
            <h4>If Ranked under 1 Lakh in Alexa</h4>
        </div>
        <video autoplay loop muted poster="{echo CDN}images/video-poster.jpg" class="hidden-xs">
            <source src="{echo CDN}video/video.mp4" type="video/mp4">
            <source src="{echo CDN}video/video.webm" type="video/webm">
            <source src="{echo CDN}video/video.ogv" type="video/ogg">
        </video>
    </div>
</div>
<!-- End of Video -->

<!-- CALLOUT TEXT / BUTTON -->
<div class="calltoaction wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">UP TO 3x FASTER THAN YOUR COMPETITION<span>WITH OUR SWIFTSPEED MODULE</span></h2>
            <div class="text-center"><a class="mtr-btn button-fab ripple" href="/contact">GET QUOTE</a></div>
        </div>
    </div>
</div>
<!-- END OF CALLOUT TEXT / BUTTON -->
<!-- FEATURES -->
<div class="features-tabs">
    <div class="row">
        <div class="col-sm-12">
            <!-- TABS -->
            <div class="tabbable tabs-top-horizontal">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#managed" data-toggle="tab"><i class="fa fa-life-ring royalblue"></i>Fully Managed</a></li>
                    <li><a href="#security" data-toggle="tab"><i class="fa fa-shield green"></i>Security</a></li>
                    <li><a href="#backups" data-toggle="tab"><i class="fa fa-archive red"></i>Backups</a></li>
                    <li><a href="#emails" data-toggle="tab"><i class="fa fa-envelope-square lightblue"></i>E-mails</a></li>
                    <li><a href="#monitoring" data-toggle="tab"><i class="fa fa-th-list orange"></i>Monitoring</a></li>
                    <li><a href="#cdn" data-toggle="tab"><i class="fa fa-maxcdn darkgray"></i>CDN</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="managed">
                        <h4>LETTING US MANAGE YOUR SERVER</h4>
                        <p class="subtitle">Keep imroving yoyr business, Why to go in the hasstle of technical issues,Let us manage your servers.</p>
                        <div class="row spacing-25">
                            <div class="col-md-11 col-sm-12 center-block">
                                <div class="block-grid-sm-3 block-grid-xs-1 fully-managed">
                                    <div class="block-grid-item">
                                        <img src="{echo CDN}images/icon1.png" alt="" />
                                        <h5>OS UPDATES</h5>
                                        <p>We keep the most updated server OS to make your application perform as better it coud prform and grow your business as fastest as possible. </p>
                                    </div>
                                    <div class="block-grid-item">
                                        <img src="{echo CDN}images/icon2.png" alt="" />
                                        <h5>24/7/365 SUPPORT</h5>
                                        <p>We do not have a holidays. We work 24*7 to keep your businesss up and running. While you are with your family we are taking care of this.</p>
                                    </div>
                                    <div class="block-grid-item">
                                        <img src="{echo CDN}images/icon3.png" alt="" />
                                        <h5>99.9% UPTIME SLA</h5>
                                        <p>Our Engineers work hard to keep you uptime without ever getting your site down. We hate to see a website / application down. </p>
                                    </div>
                                    <div class="block-grid-item">
                                        <img src="{echo CDN}images/icon4.png" alt="" />
                                        <h5>FAILOVER SYSTEMS</h5>
                                        <p>We have extra servers to keep you up if a server fails. Our servers automatically take care of this and remaing our engineers.</p>
                                    </div>
                                    <div class="block-grid-item">
                                        <img src="{echo CDN}images/icon5.png" alt="" />
                                        <h5>REMOTE BACKUPS</h5>
                                        <p>Never fear to loose your data. We have multiple backups with remote backup too.
                                        We take care of data like no one do. </p>
                                    </div>
                                    <div class="block-grid-item">
                                        <img src="{echo CDN}images/icon6.png" alt="" />
                                        <h5>MANAGED SECURITY</h5>
                                        <p>We have the best security experts to protect you from hackers, malicious compettitors and other unauthorized access.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="security">
                        <h4>SECURE WEB HOSTING SOLUTIONS</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="block-grid-sm-3 block-grid-xs-1 security">
                                    <div class="block-grid-item">
                                        <div class="security-tab-icon">
                                            <i class="fa fa-expeditedssl"></i>
                                        </div>
                                        <div class="security-tab-feature">
                                            <h5>PREVENTION OF ATTACKS</h5>
                                            <p>We have the best intrusion detection system to prevnt from attacks. we have implemented the best security methodologies.</p>
                                        </div>
                                    </div>
                                    <div class="block-grid-item">
                                        <div class="security-tab-icon">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <div class="security-tab-feature">
                                            <h5>VULNERABILITY REPORTS</h5>
                                            <p>We never ignore minor issues. If you find any bug you can directly report us, we will solve it in the fastest time.</p>
                                        </div>
                                    </div>
                                    <div class="block-grid-item">
                                        <div class="security-tab-icon">
                                            <i class="fa fa-key"></i>
                                        </div>
                                        <div class="security-tab-feature">
                                            <h5>HARDENING SYSCTL</h5>
                                            <p>No one can play around our servers, we know our kernels better than ohers. We modify it to give you high level security.</p>
                                        </div>
                                    </div>
                                    <div class="block-grid-item">
                                        <div class="security-tab-icon">
                                            <i class="fa fa-umbrella"></i>
                                        </div>
                                        <div class="security-tab-feature">
                                            <h5>SECURITY AUDIT</h5>
                                            <p>We do security audit on a regular basis to meet the legal requirements and prvide the most of the security possible.</p>
                                        </div>
                                    </div>
                                    <div class="block-grid-item">
                                        <div class="security-tab-icon">
                                            <i class="fa fa-life-ring"></i>
                                        </div>
                                        <div class="security-tab-feature">
                                            <h5>VERIFICATION OF LOG FILES</h5>
                                            <p>We continiously keep our eye on  log files and verify them. We keep limited access to log files so only we can see logs.</p>
                                        </div>
                                    </div>
                                    <div class="block-grid-item">
                                        <div class="security-tab-icon">
                                            <i class="fa fa-diamond"></i>
                                        </div>
                                        <div class="security-tab-feature">
                                            <h5>CONFIGURED FIREWALL</h5>
                                            <p>We have highly secure configured Firewall and very limited rules to access across that.Our Cisco Certified Engineers are always scanning them. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="backups">
                        <h4>SITE BACKUPS & RESTORE</h4>
                        <p class="subtitle">Your website will never be lost. Even after your plan has ended. We keep your website backup and database backup. We know tthe value of your website and data and we are here to protect it from any loss.</p>
                        <div class="row spacing-25">
                            <div class="col-md-11 col-sm-12 center-block">
                                <div class="row no-gutter">
                                    <div class="backups-restore">
                                        <div class="col-sm-3 backupcolumn">
                                            <h5 class="blue">High Performance Backup</h5>
                                            <p>We make sure your data is never lost. For that we backup your codes , yor daabaes and all the contents you are uploading on our server</p>
                                        </div>
                                        <div class="col-sm-3 backupcolumn">
                                            <h5 class="purple">Data Retention Policy</h5>
                                            <p>Mobilize assessment expert strengthen democracy public institutions; non-partisan honor gender equality voice. Local synthesize, empowerment</p>
                                        </div>
                                        <div class="col-sm-3 backupcolumn">
                                            <h5 class="orange">Central Backup Repository</h5>
                                            <p>We have local server backup plans ass well as bitbucket backup plans that automatically backup your data base </p>
                                        </div>
                                        <div class="col-sm-3 backupcolumn">
                                            <h5 class="lightblue">Simultaneous Restores</h5>
                                            <p>At a single time we backup your data at multiplaces so your data security is maintained. Our priority is to keef safe your datas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="emails">
                        <h4>EMAIL HOSTING SERVICES</h4>
                        <div class="row spacing-25">
                            <div class="col-md-6 col-sm-12"><img src="{echo CDN}images/mail2.jpg" alt="" /></div>
                            <div class="col-md-6 col-sm-12">
                                <p>Cloudstuff makes it easier for your teams to communicate and get things done with a wide choice of industry-leading email and productivity solutions. Each of our offerings is backed by award-winning Fanatical Support and a team of productivity specialists to help you choose, deploy and manage your email solution.</p>
                                <ul>
                                    <li><i class="fa fa-long-arrow-right"></i> POP/IMAP/Webmail</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Collaboration tools</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Anti-spam protection</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Full mobile support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="monitoring">
                        <h4>24x7 MONITORING</h4>
                        <div class="row spacing-25">
                            <div class="col-md-6 col-sm-12"><img src="{echo CDN}images/monitoring-tab-image.png" alt="" /></div>
                            <div class="col-md-6 col-sm-12">
                                <p>We continiously monitor , analyse the performance of our servers, Optimize o the best level. Our intrusion detection is always up to ring alarm if any kind of attacks ae tried on our servers.</p>
                                <p>Our specially programmed bots always scan the performance of your application too. Keeping an eye on each trials of attack made on the app and blocking the IPs.</p>
                                <ul>
                                    <li><i class="fa fa-long-arrow-right"></i> Crowdsourcing raise</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Expanding community</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Insights harness</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Sector safety</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cdn">
                        <h4>STOP TO SLOW LOADING SITES</h4>
                        <div class="row spacing-25">
                            <div class="col-md-6 col-sm-12"><img src="{echo CDN}images/cdn-tab-image.png" alt="" /></div>
                            <div class="col-md-6 col-sm-12">
                                <p>Developing your website or APP but your server is loading too slow the contents. Then Here we are to provide you one of the fastest CDN to load on your website, APP. A slow loading website is never visted twice. So use our CDN and hold the customers /Visotrs on your website. Reduce  loading time as never before from our servers.</p>
                                <ul>
                                    <li><i class="fa fa-long-arrow-right"></i> Fastest CDN for css/js</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Image Optimization</li>
                                    <li><i class="fa fa-long-arrow-right"></i> Insight of your loading time and performance</li>
                                    <li><i class="fa fa-long-arrow-right"></i> CDN consistency.We never change CDN</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF TABS -->
        </div>
    </div>
</div>
<!-- END OF FEATURES -->

<!-- Features Multicolors -->
<div class="introcolumns">
    <div class="row">
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="circle red"><i class="fa fa-rocket"></i></div>
            <h4>SSD Cloud Hosting</h4>
            <p>we understand the importance of a fast loading website. After all, our motto is "Our Speed, Your Success". We back it up! When you buy one of our Web Hosting packages, we include our high performance SSDs for free.</p>
        </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="circle purple"><i class="fa fa-gratipay"></i></div>
            <h4>24x7 customer support</h4>
            <p>24/7/365 – and we’ll stay with you until your issue is resolved. For any issue related to software call  +91-9958636988 / For issues with server and hosting call +91-8010805005. We don't rest with issue in hand</p>
        </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="circle orange"><i class="fa fa-gg"></i></div>
            <h4>Best-in-breed scalability</h4>
            <p>Conflict resolution raise awareness transform the world truth protect nonviolent resistance stakeholders.</p>
        </div>
    </div>
</div>
<!-- End of Features Multicolors -->

<!-- TESTIMONIALS -->
<div class="testimonials">
    <div class="row">
        <div class="col-sm-12">
            <h3>WHAT OUR CLIENTS ARE SAYING</h3>
            <hr class="hr-awesome">
            <div id="testimonials-carousel" class="owl-carousel">
                <div class="item">
                    <div class="testimonial-content">
                        <!--<img src="{echo CDN}images/testimonial1.jpg" alt="" />-->
                        <p>CloudStuff IT Services manages our technology 24/7/365 and is always available if there is an issue. They provide nonstop network support along with any other technical issues we call them with. If you want an IT service provider that is always there for you, we highly recommend the experts at Cloudstuff IT Services.</p>
                        <h5>Muzammil Mannan <a href="http://filmycity.in">FilmyCity</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <!--<img src="{echo CDN}images/testimonial1.jpg" alt="" />-->
                        <p>I strongly recommend Cloudstuff as they have provided us with solutions such as,managing our system online.When we have needed them in an emergency they have always been there to solve the problem. Their caliber of technical professionals are very knowledgeable and provide excellent customer service support.</p>
                        <h5>Sunnil Wadhva <a href="http://ayurvedatreatment.in/">Ayurveda Treatment</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <!--<img src="{echo CDN}images/testimonial1.jpg" alt="" />-->
                        <p>The technical and management people at Cloudstuff delivered a high quality solution on time and on budget. They are easy to work with and consistently kept us informed of the project status. Cloudstuff shows a great commitment to customer satisfaction and it is a pleasure to work with them. Cloudstuff is best.</p>
                        <h5>Darren Lead Better <a href="http://trafficmonitor.ca">Traffic Monitor  </a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <!--<img src="{echo CDN}images/testimonial1.jpg" alt="" />-->
                        <p>We were referred to Cloudstuff by our partners.Their first priority has always been to ensure that we have been satisfied and they have always been accountable for their work. We would certainly recommend their services and look forward to using CLoudstuffs for our future projects. They ae best.</p>
                        <h5>Md. Taufique  <a href="/">Divine Technologies</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF TESTIMONIALS -->
<!-- NEW PLANS -->
<div class="newplans">
    <div class="row">
        <h3>WE HAVE NEW HOSTING PLANS!</h3>
        <div class="newplans_box"></div>
        <div class="spacing-25"></div>
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
            <div class="newplanscolumn">
                <h5>Quite Simply</h5>
                <p>Cloudstuff is an IT Solutions company which provides ultimate software for your requirements. We just don't compromise with technology and features</p>
                <p>We also manage your software on cloud with high speed and have ultimate backup plans with 99.9% SLA.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
            <div class="newplanscolumn">
                <h5>New Features</h5>
                <ul>
                    <li><i class="fa fa-check"></i> 10TB bandwidth</li>
                    <li><i class="fa fa-check"></i> cPanel now Available</li>
                    <li><i class="fa fa-check"></i> OpenVPN</li>
                    <li><i class="fa fa-check"></i> Pure SSD cloud servers</li>
                    <li><i class="fa fa-check"></i> MySQL Backup Plans</li>
                    <li><i class="fa fa-check"></i> Git / Bitbucket Backup Plans</li>
                    <li><i class="fa fa-check"></i> 24/7/365 Phone and Email Support</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
            <div class="newplanscolumn">
                <h5>Additions to Every Plan</h5>
                <div class="progressbars">
                    <p>EXTRA CPU</p>
                    <div class="thebar">
                        <p class="percent">80%</p>
                        <div class="progress"><span class="meter" style="width:80%"></span></div>
                    </div>
                    <p>EXTRA RAM</p>
                    <div class="thebar">
                        <p class="percent">70%</p>
                        <div class="progress alt-1"><span class="meter" style="width:70%"></span></div>
                    </div>
                    <p>EXTRA STORAGE</p>
                    <div class="thebar">
                        <p class="percent">40%</p>
                        <div class="progress alt-2"><span class="meter" style="width:40%"></span></div>
                    </div>
                    <p>EXTRA BANDWIDTH</p>
                    <div class="thebar">
                        <p class="percent">95%</p>
                        <div class="progress alt-3"><span class="meter" style="width:95%"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END O NEW PLANS -->