<div class="main">	 
    <div class="wrap">
        <div class="col-lg-12">
            <div class="about-desc">
                <h2>Professional Email</h2>
                <p>We specializes in the day-to-day management of your email services so you can stay focused on your business. We make it simple for your company to communicate and get things done by offering a variety of reliable, business-class email solutions to meet your needs.</p>
                <p>When you need help, you need it right away. That's why email from CloudStuffs is delivered with unmatched, award-winning Fanatical Support. See what our email hosting customers and industry experts have to say.</p>
                <p>Keeping your business email secure is essential. We manage our own data centers, offer multiple layers of premium spam and virus protection, and keep ads out of your hosted email.</p>
                <p>We know that downtime costs you, so we back up our email hosting with an industry-leading SLA.</p>
            </div>
        </div> 	   
        <div class="list-performance">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Email Hosting services</h2>
                    <ul>
                        <li><i class="fa fa-check"></i>Hosted Exchange</li>
                        <li><i class="fa fa-check"></i>Hosted Exchange Hybrid</li>
                        <li><i class="fa fa-check"></i>Exchange Server</li>
                        <li><i class="fa fa-check"></i>CloudStuffs Email</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>