<!-- TESTIMONIALS -->
<div class="testimonials">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-center">Our Quality Projects</h4>
            <hr class="hr-awesome"/>
            <div id="testimonials-carousel" class="owl-carousel">
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project1.png" alt="" /><br/>
                        <center><h5>Play Music</h5></center>
                        <p>Play Music is your one-stop solution for all your music needs. We offer you free, unlimited access to all your favorite Songs, Bollywood or International all of your music needs will be fulfilled. We have a huge collection of Music from Old Classics to Latest Jams all for free. Explore New and Interesting Music depending on your mood.</p>
                        <h5>Visit Website <a href="http://playmusic.net" target="_blank">PlayMusi.net</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project2.png" alt="" /><br/>
                        <center><h5>Ads Manager</h5></center>
                        <p>At Earn Bugs we help you to find and join an affiliate program. Our affiliate network uses Internet as the medium. Our website helps you to make money easily through your Face-book page. We have the best and the viral content that you can share on your platform and our CPC rates are the best in the country.</p>
                        <h5>Visit Website <a href="http://earnbugs.in" target="_blank">EarnBugs</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project3.png" alt="" /><br/>
                        <center><h5>Swift Intern</h5></center>
                        <p>SwiftIntern is the India's largest student-focused internship portal, bringing students, employers and higher education institutions together in one centralized location. Swiftintern.com provides a wide variety of interactive tools and services to enable every student, employer and educator to better understand and optimize internship opportunities, enabling businesses to identify the best job candidates and for students to develop the real-world skills they will need upon graduation.</p>
                        <h5>Visit Website <a href="http://swiftintern.com" target="_blank"> SwiftIntern</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project4.png" alt="" /><br/>
                        <h5> <center>Traffic Monitor</center></h5>
                        <p>Our team at Traffic Monitor keeps a check on the traffic and then optimizes the websites visited as per their needs. Admins at Traffic Monitor even change the languages and filters as per the region of the users.</p>
                        <h5>Visit Website <a href="http://trafficmonitor.ca" target="_blank">Traffic Monitor</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project5.png" alt="" /><br/>
                        <center><h5>My Event Group</h5></center>
                        <p>MyEventGroup is a Mumbai based full-service event Management Company dedicated to quality and excellence. Since its establishment it has continuously strived towards the flawless execution of events. We manage events across all major cities in India and abroad. We ensure cost-effective service, accountability and flexibility. Whatever your budget, we have solutions you will not find elsewhere.</p>
                        <h5>Visit Website <a href="http://myeventgroup.com" target="_blank">My Event Group</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project6.png" alt="" /><br/>
                        <center><h5>Tour Planner</h5></center>
                        <p>The Tour Planner is a powerful technology, dedicated to the automatic creation of customized trips according to the touristic preferences. We deliver solutions to hotel chains, tourism boards and travel agencies. We provide Multichannel sales, dynamic trip catalogs for price comparators and integration in social networks.</p>
                        <h5>Visit Website<a href="http://planypurtours.com" target="_blank">Tour Planner</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project7.png" alt="" /><br/>
                        <center><h5>Matrimonial Portal</h5></center>
                        <p>Online dating is now one of the most popular ways to meet a new partner and our Online Dating Portal cater for people from all walks of life and interests. So whether you're mad about dogs, passionate about green issues or a connoisseur of fine wines you're sure to find someone who shares your interests. We’ll act as your perfect Matchmaker. </p>
                        <h5>Visit Website <a href="http://biharshadi.com" target="_blank">Bihar Shadi</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project8.png" alt="" /><br/>
                        <center><h5>Gaming Portal</h5></center>
                        <p>Our Gaming Portal provides you with details of the gaming event WASD and helps you register for the same. WASD is the annual gaming event of CSI branch of Jamia Hamdard University, in which gamers from all around the country participate and show off their excellent gaming skills. </p>
                        <h5>Visit Website <a href="http://wasd16.com" target="_blank">WASD</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project9.png" alt="" /><br/>
                        <center><h5>Medical Appointment</h5></center>
                        <p>We have developed Medical appointment solution so that patients can book their appointments online and managers at hospital can manage the appointments without any hassle.</p>
                        <h5>Visit Website <a href="http://ayurvedatreatment.in" target="_blank">Ayurveda Treatment</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project10.png" alt="" /><br/>
                        <center><h5>Ads Network</h5></center>
                        <p>Choco Ghar is one of the best ads network which is developed to manage and create traffics. Our software has special detection for fake traffic and it will not count the fake traffic to maintain your profit.</p>
                        <h5>Visit Website <a href="http://chocoghar.com" target="_blank">Choco Ghar</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project11.png" alt="" /><br/>
                        <center><h5>TopDOc</h5></center>
                        <p>Search For TopDoc is one of the best site In USA and Canada to find the doctors details for your treatment. You don't have to worry about finding  doctors. All you need is visit searchforatopdoc.com and find the doctor in your region and for the field of your treatment.</p>
                        <h5>Visit Website <a href="http://searchforatopdoc.com" target="_blank">Choco Ghar</a></h5>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img src="{echo CDN}images/projects/project12.png" alt="" /><br/>
                        <center><h5>ieCircle</h5></center>
                        <p>ieCircle is a educational portal for online education. It is one of the emerging education portal in India. You need to register and see what course you want to pursue. And start Learning</p>
                        <h5><a href="http://iecircle.com" target="_blank">Choco Ghar</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END OF TESTIMONIALS -->