<!-- SUBHEADER -->
<div id="subheader" class="shared">
  <div class="subheader-text">
    <h1>SHARED WEB HOSTING</h1>
    <h2>Combined with our 24x7x365 support desk</h2>
  </div>
</div>
<!-- END OF SUBHEADER -->



<div class="difference">
<div class="row spacing-25">
 <div class="col-md-9 col-sm-12 center-block">
   <h3 class="text-center">THE CLOUDSTUFF DIFFERENCE</h3>
   <div class="newplans_box"></div>
   <p class="text-center">Why are our speed, security and support better? Because we do things most other hosting companies wouldn’t even consider possible! We developed our own solutions to help protect your website from hacks. We invented new techniques that can make your website run over a hundred times faster. And we have amazing, fast, experienced and helpful individuals working in our support team.</p>
 </div>
</div>
</div>

<div class="row spacing-25">
  <div class="col-md-9 col-sm-12 center-block">

    <div class="block-grid-sm-3 block-grid-xs-1 fully-managed">

      <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms">
        <img src="images/icon7.png" alt="" />
        <h5>GUARANTEED UPTIME</h5>
        <p>We have unique approach to achieving the highest possible uptime leading to actual numbers of more than 99.99%. We also guarantee that if you ever experience more than 0.1% downtime on a yearly basis you will be compensated.</p>
      </div>

      <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="150ms">
        <img src="images/icon8.png" alt="" />
        <h5>HUNDREDS OF APPS</h5>
        <p>We have solution to all the problems. Cloudstuff Supports Hundreds of APPs whether it is open source or a unique piece. We provide the best solution for hosting of your application. We support most of the programming language.</p>
      </div>

      <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="200ms">
       <img src="images/icon9.png" alt="" />
       <h5>CLOUDLINUX</h5>
       <p>We Love Linux and most of our servers are linux. We can host any type of application on our servers. Security and accebility is our prime concern  and thats why we choose linux for our clients and maintain them.</p>
     </div>

     <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="250ms">
      <img src="images/icon10.png" alt="" />
      <h5>SPAM PROTECTION</h5>
      <p>We gurantee protection againts SPAM mails maintain security.
    Our system auto detects malware and viruses sent by mails and deletes them automatically.</p>
    </div>

    <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
      <img src="images/icon11.png" alt="" />
      <h5>SFTP ACCESS</h5>
      <p>We give you access to create multiple SFTP acces to share with your developers. We only connect using SFTP on port 22. We make sure that every file access is secure.</p>
    </div>

    <div class="block-grid-item wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="350ms">
     <img src="images/icon12.png" alt="" />
     <h5>PREMIUM BANDWIDTH</h5>
     <p>Will never put your site down. Get premium bandwidth to provide your applcation to the highest number of users and we will maintain the trffic at any time.</p>
   </div>


 </div>
</div>
</div>

</div>
<!-- END OF COMPARISON TABLE -->

<!-- VIDEO BACKGROUND -->
<div id="shared-video" class="hidden-xs">
  <div class="shared-video-container">
    <div class="videocaption">
     <div class="videocaption-content  wow fadeIn" data-wow-duration="500ms" data-wow-delay="200ms">
      <h2>By Developers, for Developers</h2>
      <hr/>
      <p>With All technical Support Related Development and Hostings</p>
    </div>

  </div>
  <video autoplay loop muted poster="images/video-poster.jpg"  class="hidden-xs">
    <source src="{echo CDN}video/video.mp4" type="video/mp4">
      <source src="{echo CDN}video/video.webm" type="video/webm">
        <source src="{echo CDN}video/video.ogv" type="video/ogg">
        </video>
      </div>
    </div>
    <!-- END OF VIDEO BACKGROUND -->