<div class="main">	 
    <div class="wrap">
        <div class="support support2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <h2>24/7 Service & Support</h2>
                        <p>We have the best Network Engineers, Application Developers, Support Executives in industry.</p>
                    </div>
                    <div class="col-lg-2">
                        <p><a class="read-more" href="/contact">Live Chat</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>