<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Bank Account</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td><b>Bank Name</b></td>
                            <td>ICICI Bank</td>
                        </tr>
                        <tr>
                            <td><b>Account Number</b></td>
                            <td>004605012534</td>
                        </tr>
                        <tr>
                            <td><b>Bank Address</b></td>
                            <td>PLOT NO.13, COMMUNITY CENTRE, NEW FRIENDS COLONY, NEW DELHI. 110065</td>
                        </tr>
                        <tr>
                            <td><b>IFSC Code</b></td>
                            <td>ICIC0000046</td>
                        </tr>
                        <tr>
                            <td><b>MICR Code</b></td>
                            <td>110229007</td>
                        </tr>
                    </thead>    
                </table>
            </div>

            <ul class="list-group">
                <li class="list-group-item">Paypal : faizanayubi@hotmail.com</li>
                <li class="list-group-item">Instamojo : @swiftdeal</li>
            </ul>
        </div>
    </div>
</div>
