<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Tickets</h1>
            <div class="panel panel-default">
                {if($tickets)}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach $ticket in $tickets}
                            <tr>
                                <td>{echo $ticket->id}</td>
                                <td>{echo $ticket->created}</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                {/if}
                {else}
                <p class="text-center">No Tickets Found, You can create ticket from billings</p>
                {/else}
            </div>

        </div>
    </div>
</div>
